@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";



@theme {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  

  --color-basecolor: #1E1345;
  --color-primary: #00C0FF;

}


.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
  margin: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00C0FF;
  border-radius: 12px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00d4ff;
  background-clip: content-box;
}


.custom-scrollbar {
  scrollbar-color: #00C0FF transparent;
  scrollbar-width: thin;
}